<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.baji.stvh.mapper.MenuMapper">

    <resultMap id="menuMap" type="menu">
        <id column="id" property="id"></id>
        <result column="name" property="name"></result>
        <result column="redirect" property="redirect"></result>
        <result column="path" property="path"></result>
        <result column="component" property="component"></result>
        <result column="meta" property="meta" typeHandler="io.baji.stvh.handler.MetaTypeHandler"></result>
        <result column="parent_id" property="parentId"></result>
        <collection property="children" column="id" select="io.baji.stvh.mapper.MenuMapper.getSubMenuList"></collection>
    </resultMap>

    <select id="getMenuTree" resultMap="menuMap">
        SELECT * FROM menu WHERE parent_id=0
    </select>

    <select id="getSubMenuList" resultMap="menuMap" parameterType="int">
        SELECT * FROM menu WHERE parent_id=#{id}
    </select>

</mapper>
